:root {
    --color-lite: #ffffff;
    --color-primary: rgb(42, 108, 250);
    --color-primary-lite: #d3e0fa;
    --color-primary-medium: #86adfa;
    --color-dark-medium-opacity: #00000050;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.is-disabled {
    opacity: 0.5;
}

.text {
    font-size: 24px;
}

.game {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Montserrat", sans-serif;
}

.header, .footer {
    grid-column: span 12;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 12px;
}

.left, .right, .center, .box, .buttons-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left, .right, .center {
    row-gap: 24px;
    padding: 24px;
}

.box, .buttons-box {
    row-gap: 8px;
}
 
.left, .right {
    grid-column: span 2;
    background-color: var(--color-primary-lite);
}

.center {
    grid-column: span 8;
}

.center__box {
    margin-top: 60px;
}

.center__subtitle {
    width: 70%;
    text-align: center;
}

.right {
    overflow-y: auto;
}

.footer__text, .title {
    color: var(--color-lite);
    text-shadow: 2px 3px 3px var(--color-dark-medium-opacity);
}

.footer__text {
    width: 80%;
    text-align: center;
    font-size: 18px;
}

.title {
    font-size: 58px;
}

.input {
    width: 300px;
    font-size: 18px;
    padding: 6px;
    border: 1px solid var(--color-primary-medium);
    border-radius: 5px;
}

.input:focus {
    outline: 2px solid var(--color-primary);
}

.button {
    background-color: var(--color-primary);
    color: var(--color-lite);
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 18px;
    transition: all 0.3s;
    font-family: inherit;
}

.button:hover {
    background-color: var(--color-lite);
    color: var(--color-primary);
    border-color: var(--color-primary);
}